<h1>Make a new team!</h1>

<%= form_for @team do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :color %>
  <%= f.text_field :color %>
  <%= f.label :sport %>
  <%= f.text_field :sport %>
  <%= f.submit "Make dat team, son" %>
<% end %>
